<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Login</title>
  <link rel="stylesheet" href="login.component.css">
</head>
<body>

<div>
  <h2>Buscar Usuario</h2>
  <form (ngSubmit)="buscarUsuario(username.value, password.value)">
    <div>
      <label for="username">Nombre de usuario:</label>
      <input type="text" id="username" name="username" #username required>
    </div>
    <div>
      <label for="password">Contraseña:</label>
      <input type="password" id="password" name="password" #password required>
    </div>
    <button type="submit">Buscar</button>
  </form>
</div>

</body>
</html>
