<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Películas</title>
  <link rel="stylesheet" href="a1.component.css">
</head>
<body>
<div class="movie-container">
  <h2 class="movie-title">PELÍCULAS</h2>
  <ul class="movie-list">
    <li class="movie-item">
      Fast & Furious X
      <button class="play-button" (click)="playVideo('fastandfurious.mp4')">Reproducir</button>
    </li>
    <li class="movie-item">
      Barbie
      <button class="play-button" (click)="playVideo('barbie.mp4')">Reproducir</button>
    </li>
    <li class="movie-item">
      Los Minions
      <button class="play-button" (click)="playVideo('minions.mp4')">Reproducir</button>
    </li>
    <li class="movie-item">
      Piratas del Caribe
      <button class="play-button" (click)="playVideo('pirates.mp4')">Reproducir</button>
    </li>
  </ul>
</div>

<div id="video-container" class="video-container" *ngIf="videoContainerVisible">
  <video controls width="640" height="360">
    <source [src]="videoSource" type="video/mp4">
    Tu navegador no soporta la reproducción de videos.
  </video>
</div>


  <div *ngIf="videoContainerVisible">
    <h2>Video Container</h2>
    <!-- Aquí puedes mostrar el video o cualquier otro contenido relacionado con el video -->
    <p>Video Source: {{ videoSource }}</p>
  </div>

<p>Contador recibido: {{ this.counter }}</p>


</body>
</html>
