/* styles.css */

body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
  margin: 0;
  padding: 0;
}

.movie-container {
  text-align: center;
  padding: 20px;
}

.movie-title {
  font-size: 24px;
  color: #333;
  margin-bottom: 20px;
}

.movie-list {
  list-style: none;
  padding: 0;
}

.movie-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 1px solid #ddd;
  border-radius: 8px;
  margin: 10px 0;
  padding: 10px;
  background-color: #fff;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
}

.play-button {
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 5px 10px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.play-button:hover {
  background-color: #0056b3;
}

#video-container {
  text-align: center; /* Centra el contenido del video */
  margin-top: 20px; /* Agrega un espacio superior para separar la lista de películas y el video */
}

#video-player {
  width: 80%; /* Ancho del video ajustado al 80% del contenedor */
  max-width: 100%; /* Establece un ancho máximo igual al ancho del contenedor */
  height: auto; /* Ajusta la altura automáticamente según el ancho */
}

