<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Películas</title>
  <link rel="stylesheet" href="a1.component.css">
</head>
<body>
<div class="movie-container">
  <h2 class="movie-title">ESCULL EL TEU STREAMER PREFERIT</h2>
  <ul class="movie-list">
    <li class="movie-item">
      Illo Juan
      <button class="play-button" (click)="playVideo('illoJuanButton')">Reproduir</button>
    </li>
    <li class="movie-item">
      Ibai
      <button class="play-button" (click)="playVideo('ibaiButton')">Reproduir</button>
    </li>
    <li class="movie-item">
      AuronPlay
      <button class="play-button" (click)="playVideo('auronButton')">Reproduir</button>
    </li>
  </ul>
</div>

<div id="video-container" class="video-container" *ngIf="reproduciendo">
  <video controls width="640" height="360">
    <source [src]="videoSource" type="video/mp4">
    El teu navegador no suporta la reproducció de videos.
  </video>
</div>

<p *ngIf="demanarCodi">Introdueix aquest codi a l'App: {{ this.counter }}</p>


</body>
</html>
